body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
#about {
  width: 100%;
  margin-bottom: 40px;
}
.about-me {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 20px;
}
.pic-container {
  position: relative;
  display: flex;
  align-self: center;
  border-radius: 50%;
  border: 10px solid #fce575;
  box-shadow: 0 1px 4px #ffd447;
}
.profile-pic {
  max-height: 250px;
  max-width: 250px;
}
.profile-pic,
.profile-pic-overlay {
  border-radius: 50%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.profile-pic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 233, 149, 0.57);
  color: #fff;
  font-weight: 700;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  height: 100%;
  width: 100%;
}
.pic-container:hover .profile-pic-overlay {
  visibility: visible;
  opacity: 1;
  text-decoration: none;
}
.pic-container:hover .profile-pic {
  opacity: 0.65;
}
.play-button {
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
}
.pic-container:hover .play-button,
.play-button {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.pic-container:hover .play-button {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  cursor: pointer;
}
.play-icon {
  font-size: 9em !important;
  opacity: 0.75;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.play-icon:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.fab-play {
  display: flex;
  position: fixed !important;
  z-index: 200;
  bottom: 30px;
  right: 30px;
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.about-me-body {
  margin: auto;
  width: 60%;
}
.about-me-text {
  color: #2b2b31;
  font-size: 1.3em;
  line-height: 1.5;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  text-align: justify;
}
.about-highlight {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  text-decoration: none;
  z-index: 3;
}
.about-highlight:hover {
  text-decoration: none;
  color: #002;
}
.rockets-highlight:hover {
  color: #f5dede;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.about-highlight:after,
.about-highlight:before {
  content: "";
  position: absolute;
  width: 100%;
  right: 0;
  height: 15%;
  bottom: 3px;
  z-index: -1;
}
.about-highlight:hover:after,
.about-highlight:hover:before {
  display: block;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 3px;
}
.about-anim:before {
  -webkit-transition: height 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: height 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #fce995;
}
.about-anim:after {
  -webkit-transition: height 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: height 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #ffe880;
}
.rockets-anim:before {
  -webkit-transition: height 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: height 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #ee7d83;
}
.rockets-anim:after {
  -webkit-transition: height 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: height 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #e94a4a;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.introduction {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;
}
.radial-gradient {
  z-index: -1;
  overflow: hidden;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background: #f8f0cd;
  background: -webkit-radial-gradient(at center, #f5f5f5, #f8f0cd);
  background: radial-gradient(at center, #f5f5f5, #f8f0cd);
}
.radial-gradient,
canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
h1 {
  font-family: Oswald, sans-serif;
  text-align: center;
  font-size: 64px;
  letter-spacing: 3px;
}
h2,
h3 {
  font-family: Montserrat, sans-serif !important;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
  margin-block-end: 0.83em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
h3 {
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
p,
th,
ul {
  font-family: Lato, sans-serif !important;
}
td {
  padding: 5px;
}
.title {
  margin: 17% 0 23px;
  position: relative;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h1 {
  width: 40%;
  font-family: Oswald, sans-serif;
  text-align: center;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 4px;
  color: #5b5a68;
  cursor: cell;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}
.title h1:hover {
  color: #2b2b31;
  text-shadow: 1px 1px 1px 1px #606068;
}
.title h1::-moz-selection {
  background: #ffe880;
  text-transform: uppercase;
  color: #fff;
}
.title h1::selection {
  background: #ffe880;
  text-transform: uppercase;
  color: #fff;
}
.name {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.name:after,
.name:before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 20px;
  bottom: -18px;
  z-index: -1;
}
.name:hover:after,
.name:hover:before {
  display: block;
  width: 100%;
  left: 0;
  bottom: -18px;
}
#sajeel:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #fce995;
}
#sajeel:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #ffe880;
}
#loading {
  position: relative;
  margin: 43px auto 0;
  width: 20px;
  height: 20px;
  background-color: initial;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.social-buttons {
  margin: auto;
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}
.github-icon,
.instagram-icon,
.linkedin-icon,
.medium-icon {
  color: #8f8e8e;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.linkedin-icon:hover {
  color: #2f65da;
  font-size: 54px;
  text-shadow: 0.5px 0.5px 0.5px #2f65da;
}
.github-icon:hover {
  color: #000;
  font-size: 54px;
  text-shadow: 0.5px 0.5px 0.5px #000;
}
.instagram-icon:hover {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#f60),
    to(#f6f)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 56px;
}
.medium-icon:hover {
  color: #000;
  font-size: 54px;
  text-shadow: 0.5px 0.5px 0.5px #000;
}
.bio {
  display: none;
  position: relative;
  font-family: Lato, sans-serif;
  font-size: 1.5em;
  line-height: 2.3em;
  letter-spacing: 0.7px;
  margin: 0 40% 0 10%;
  padding-top: 20px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.bio p::-moz-selection {
  background: #ffe880;
  text-transform: uppercase;
}
.bio p::selection {
  background: #ffe880;
  text-transform: uppercase;
}
#about-link {
  color: #ed254e;
}
#portfolio-link {
  color: #3943b7;
}
#skills-link {
  color: #9e3a7d;
}
#contact-link {
  color: #7ddb63;
}
.bio-links {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.bio-links,
.bio-links:hover {
  text-decoration: none;
}
.bio-links:after,
.bio-links:before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 8px;
  bottom: 8px;
  z-index: -1;
}
.bio-links:hover:after,
.bio-links:hover:before {
  display: block;
  width: 100%;
  left: 0;
  bottom: 8px;
}
#about-link:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #ee7d93;
}
#about-link:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #e94a6a;
}
#skills-link:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #9e3a7d;
}
#skills-link:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #a70d74;
}
#portfolio-link:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #7c81bb;
}
#portfolio-link:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #555db6;
}
#contact-link:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #ade99c;
}
#contact-link:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #94d682;
}
.down-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  z-index: 200;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 4em !important;
  height: 4em !important;
  color: #ffe880;
  -webkit-animation-name: fadeIn, pulse;
  animation-name: fadeIn, pulse;
  -webkit-animation-duration: 2s, 3s;
  animation-duration: 2s, 3s;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-filter: drop-shadow(0 3px 4px rgba(58, 49, 10, 0.19));
  filter: drop-shadow(0 3px 4px #3a310a30);
}
.down-arrow:hover {
  cursor: pointer;
}
.fadeOut {
  opacity: 0;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  50% {
    width: 4.5em;
    height: 4.5em;
    -webkit-filter: drop-shadow(0 3px 4px rgba(58, 49, 10, 0.52));
    filter: drop-shadow(0 3px 4px #3a310a85);
  }
}
@keyframes pulse {
  50% {
    width: 4.5em;
    height: 4.5em;
    -webkit-filter: drop-shadow(0 3px 4px rgba(58, 49, 10, 0.52));
    filter: drop-shadow(0 3px 4px #3a310a85);
  }
}
#skills {
  width: 100%;
  margin-bottom: 40px;
}
#skills::-moz-selection {
  background: #9e3a7d;
  color: #fff;
}
#skills::selection {
  background: #9e3a7d;
  color: #fff;
}
#skills:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #9e3a7d;
}
#skills:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #a70d74;
}
.skills-header {
  display: inline-block;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #ac528e),
    color-stop(70%),
    to(#c778ad)
  );
  background: -webkit-linear-gradient(#ac528e 50%, 70%, #c778ad);
  background: linear-gradient(#ac528e 50%, 70%, #c778ad);
  color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  padding: 5px;
  text-align: center;
  position: relative;
  left: 20px;
  width: auto;
  z-index: 100;
}
.NavPills-pills-13 {
  margin-left: 0 !important;
}
#portfolio {
  width: 100%;
  margin-bottom: 40px;
}
#portfolio::-moz-selection {
  background: #3943b7;
  color: #fff;
}
#portfolio::selection {
  background: #3943b7;
  color: #fff;
}
.screen {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.screen:after,
.screen:before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 20px;
  bottom: -28px;
  z-index: 100;
}
.screen:hover:after,
.screen:hover:before {
  display: block;
  width: 100%;
  left: 0;
  bottom: -28px;
}
#portfolio:before {
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #6f75bd;
}
#portfolio:after {
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #3943b7;
}
#featured-project,
#projects {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  flex-wrap: wrap;
}
#featured-project {
  justify-content: center;
  margin-bottom: 20px;
}
#featured-title {
  box-sizing: border-box;
  padding: 10px 130px 10px 30px;
  max-height: 100%;
  margin: 0 5px 0 0;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: right;
  border-radius: 5px;
  font-size: 3em;
  color: #fff;
  background-color: #002;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(10%, #3943b7),
    color-stop(40%),
    to(#006)
  );
  background: -webkit-linear-gradient(#3943b7 10%, 40%, #006);
  background: linear-gradient(#3943b7 10%, 40%, #006);
  animation-name: slideInLeft;
  -webkit-animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
#markdown:first-child {
  max-width: 100%;
  width: 100%;
  overflow: "hidden";
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.fireworks {
  max-width: 100%;
}
#divider {
  -webkit-transform: skew(0deg, -3deg) translateX(-100vw);
  transform: skew(0deg, -3deg) translateX(-100vw);
  width: 100%;
  height: 40vh;
}
.divider-el {
  position: relative;
  width: 100%;
  height: 10%;
}
#el1 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a4036f),
    to(#a4036f)
  );
  background: -webkit-linear-gradient(#a4036f, #a4036f);
  background: linear-gradient(#a4036f, #a4036f);
}
#el2 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#a4036f),
    to(#8a1381)
  );
  background: -webkit-linear-gradient(#a4036f, #8a1381);
  background: linear-gradient(#a4036f, #8a1381);
  top: -1px;
}
#el3 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#8a1381),
    to(#7f1a89)
  );
  background: -webkit-linear-gradient(#8a1381, #7f1a89);
  background: linear-gradient(#8a1381, #7f1a89);
  top: -2px;
}
#el4 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#7f1a89),
    to(#74208f)
  );
  background: -webkit-linear-gradient(#7f1a89, #74208f);
  background: linear-gradient(#7f1a89, #74208f);
  top: -3px;
}
#el5 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#74208f),
    to(#662899)
  );
  background: -webkit-linear-gradient(#74208f, #662899);
  background: linear-gradient(#74208f, #662899);
  top: -4px;
}
#el6 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#662899),
    to(#5d2e9f)
  );
  background: -webkit-linear-gradient(#662899, #5d2e9f);
  background: linear-gradient(#662899, #5d2e9f);
  top: -5px;
}
#el7 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5d2e9f),
    to(#5234a6)
  );
  background: -webkit-linear-gradient(#5d2e9f, #5234a6);
  background: linear-gradient(#5d2e9f, #5234a6);
  top: -6px;
}
#el8 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5234a6),
    to(#493aac)
  );
  background: -webkit-linear-gradient(#5234a6, #493aac);
  background: linear-gradient(#5234a6, #493aac);
  top: -7px;
}
#el9 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#493aac),
    to(#403fb2)
  );
  background: -webkit-linear-gradient(#493aac, #403fb2);
  background: linear-gradient(#493aac, #403fb2);
  top: -8px;
}
#el10 {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#403fb2),
    to(#3943b7)
  );
  background: -webkit-linear-gradient(#403fb2, #3943b7);
  background: linear-gradient(#403fb2, #3943b7);
  top: -9px;
}
#footer {
  width: 100%;
  height: 320px;
  background-color: #002;
  bottom: 0;
  z-index: -2;
  align-items: center;
}
#footer-container {
  width: 60%;
  margin: 30px auto;
  padding-bottom: 25px;
}
#footer-content {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
#footer-logo {
  width: 15%;
  height: auto;
}
.footer-social-buttons {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.footer-social-buttons > a {
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
.footer-social-buttons > a:hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.footer-icons {
  color: #daffed;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
}
.footer-icons:hover {
  color: #fce575;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-shadow: 0 2px 4px rgba(245, 227, 140, 0.2);
}
.footer-icons:active {
  color: #ffd447;
}
#footer-text {
  color: #dcfaec;
}
#copyright,
#footer-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}
#copyright {
  height: 70px;
  color: #002;
  background-color: rgba(252, 229, 117, 0.7);
}
.container {
  width: 80%;
  margin: auto;
}
canvas {
  max-width: 100vw;
  max-height: 100vh;
}
code,
img {
  max-width: 100%;
}
code {
  max-width: 100vw;
  overflow-x: scroll;
}
.hidden {
  display: none !important;
}
@media only screen and (max-width: 1400px) {
  #featured-project .react-reveal {
    width: 74%;
  }
}
@media only screen and (max-width: 1060px) {
  #featured-title {
    margin-right: 0;
    margin-bottom: 5px;
    -webkit-writing-mode: horizontal-tb;
    writing-mode: initial;
    width: 100%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    text-align: center;
    font-size: 2.5em;
    padding: 10px 0;
  }
  #featured-project .react-reveal {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .title {
    margin-top: 45%;
  }
  #sajeel {
    width: 80%;
  }
  .social-buttons {
    width: 60%;
  }
  .about-me-body {
    width: 80%;
  }
  .about-me-text {
    text-align: left;
  }
  #footer-logo {
    width: 30%;
  }
}
@media only screen and (max-width: 430px) {
  .title {
    margin-top: 50%;
  }
  #sajeel {
    width: 90%;
  }
  #loading {
    margin-top: 80px;
  }
  .social-buttons {
    width: 31%;
    flex-wrap: wrap;
  }
  .bio {
    font-size: 1.2em;
    line-height: 2em;
    margin-right: 20%;
  }
  .about-me-body {
    width: 90%;
  }
  .about-me-text {
    font-size: 1.1em;
  }
  .title h1 {
    font-size: 60px;
  }
  #footer-logo {
    width: 45%;
  }
  #copyright p {
    font-size: 0.85em;
  }
}
@media only screen and (max-width: 376px) {
  .title {
    margin-top: 45%;
  }
  #sajeel {
    width: 95%;
  }
  #loading {
    margin-top: 40px;
  }
  .social-buttons {
    margin-top: 10px;
    width: 34%;
    flex-wrap: wrap;
  }
  .title h1 {
    font-size: 54px;
  }
  #copyright p {
    font-size: 0.8em;
  }
  .down-arrow {
    bottom: 10px;
  }
}
/*# sourceMappingURL=main.0c54942d.chunk.css.map */
